# Postgresql Environment Variables
POSTGRES_DB=mydb
POSTGRES_USER=mydb
POSTGRES_PASSWORD=p@ssw0rd
# pgAdmin Environment Variables
PGADMIN_DEFAULT_EMAIL=dummyemail@dummy.org
PGADMIN_DEFAULT_PASSWORD=d3fault_p@ssw0rd
PGADMIN_LISTEN_ADDRESS=[::]
PPGADMIN_LISTEN_PORT=80
# Prisma
DATABASE_URL=postgresql://mydb:p@ssw0rd@localhost:5432/mydb?schema=public